body {
    background-image: url('https://bhf-cdn.azureedge.net/bhf-blob-prod/0014375_sultan-neutral-fabric-texture_600.jpeg');
}

header {
    border-bottom: solid lightgray;
    background-color: white;
}

header div div div h1 {
    background-color: #4aaaa5;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

section div div div{
    background-color: white;
    margin-top: 20px;
}

section div div div h2 {
    border-bottom: solid lightgray;
    color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
}

section div div div h3{
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: auto;
    text-align: center;
    background: #4aaaa5;

}

footer {
    background-color: gray;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}